html,
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

main {
  max-width: 40rem;
  margin: auto;
  padding: 1rem;
}

.header {
  background-color: rgba(0, 0, 0, 0.2);
  color: white;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.nav-links {
  display: flex;
  flex-direction: row;
}

.nav-link {
  padding: 1rem 1rem;
  color: black;
  text-decoration: none;
}

.nav-link:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.post-summary {
  background-color: white;
  padding: 0.5rem 2rem;
  margin-bottom: 1rem;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

footer {
  text-align: center;
  margin-top: 2rem;
}

.login-message {
  color: red;
}
